.person{
    width: 600px;
    height:100%;
    position:relative;
    left:400px;
    top:195px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: -1;
}
.items{
    font-size: 11px;
}

.pro{
    padding-right: 10px;
    height:45px;
    width: 45Spx;
}